{% extends 'base.html' %}

{% block titel %}Blog erstellen{% endblock %}
{% block inhalt %}

<h1>Neuer Blog erstellen</h1>

<form>
  <div class="form-group">
    <label for="datum">Datum</label>
    <input type="date" class="form-control" id="datum">
  </div>
    <div class="form-group">
        <label for="titel">Titel</label>
        <input type="text" class="form-control" id="titel">
    </div>
  <div class="form-group">
    <label for="kategorie">Kategorie</label>
    <select class="form-control" id="kategorie">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="eintrag">Eintrag</label>
    <textarea class="form-control" id="eintrag" rows="3"></textarea>
  </div>
    <button type="submit" class="btn btn-dark">Speichern</button>
</form>


{% endblock %}